<div class="contents row">
  <div class="title1">
    <p><%= @nickname %> さんの投稿一覧</p>
  </div>
  <div class="like">
    <div class="like1">いいね！している投稿</div>
      <div class="like2">
        <% @user.liked_posts.each do |post| %>
          <p><%= post.user.nick_name %>さんの投稿：
          <%= post.text %>
          </p>
        <% end %>
      </div>

<% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
  <% end %>
<% end %>
<p></p>



  </div>
  <p>
  <div class="radius">
      <% @items.each do |item| %>
        <div class="radius2">
          <div class="content_po">
            <% item.images.each do |image| %>
              <p>
                <%= image_tag image %>
              </p>
            <% end %>
            <div class="text1">
              <%= item.text %>
            </div>
            <div class="more">
              <ul class="more_list">
                <% if user_signed_in? %>
                  <li>
                    <%= link_to '詳細', item_path(item.id), method: :get %>
                  </li>
                <% end %>
                <% if user_signed_in? && current_user.id == item.user_id %>
                  <li>
                    <%= link_to '編集', edit_item_path(item.id), method: :get %>
                  </li>
                  <li>
                    <%= link_to '削除', item_path(item.id), method: :delete %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </p>
</div>