<div class="contents row">
<h2>
  <p><%= @nickname %> さんの投稿一覧</p>
</h2>
  <% @items.each do |item| %>
    <div class="content_po">
      <p><%= item.text %></p>
      <% item.images.each do |image| %>
      <%= image_tag image %>
      <% end %>
      <div class="more">
        <ul class="more_list">
          <% if user_signed_in? && current_user.id == item.user_id %>
          <li>
            <%= link_to '編集', edit_item_path(item.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', item_path(item.id), method: :delete %>
          </li>
          <% end %>
          <li>
            <%= link_to '詳細', item_path(item.id), method: :get %>
          </li>

        </ul>
      </div>
    </div>
  <% end %>
</div>