<%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @items.each do |item| %>
    <div class="content_po">
      <p><%= item.text %></p>
      <% item.images.each do |image| %>
      <%= image_tag image %>
      <% end %>
      <div class="more">
        <ul class="more_list">
          <% if user_signed_in? && current_user.id == item.user_id %>
          <li>
            <%= link_to '編集', edit_item_path(item.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', item_path(item.id), method: :delete %>
          </li>
          <% end %>
          <li>
            <%= link_to '詳細', item_path(item.id), method: :get %>
          </li>

        </ul>
      </div>
      <span class="name">
        <%= item.title %>
      </span>
    </div>
  <% end %>
</div>