<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
      <%= form_with model: @item, url: items_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>


      <%= f.text_area :title, placeholder: "Title" %>
      <%= f.file_field :images, name: 'items_tag[images][]', id: 'item_image' %>

      <%= f.label :message, "タグ" %>
      <%= f.text_field :message %>

      <div id="image-list"></div>

      <div class="weight-bold-text">
        Category
      <span class="indispensable">必須</span>
      </div>
        <%= f.collection_select :category_id, Category.all, :id, :name, {} %>


      <div class="weight-bold-text">
        Season
      <span class="indispensable">必須</span>
      </div>
        <%= f.collection_select :season_id, Season.all, :id, :name, {} %>


      <div class="weight-bold-text">
        Place
      <span class="indispensable">必須</span>
      </div>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {} %>


      <%= f.text_area :text, placeholder: "Text", rows: "10" %>


      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>