<div class="contents row">
  <div class="content_po">
    <span>
      <p></p>
    </span>
      <% @item.images.each do |image| %>
      <%= image_tag image %>
      <% end %>
        <div class="more">
          <ul class="more_list">
            <% if user_signed_in? && current_user.id == @item.user_id %>
              <li>
                <%= link_to '編集', edit_item_path(@item.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', item_path(@item.id), method: :delete %>
              </li>
            <% end %>
          </ul>
        </div>
      <p><%= @item.text %></p>
    <span class="name">
      <a href="/users/<%= @item.user.id %>">
        <span>投稿者 </span><%= @item.user.nick_name %>
      </a>
    </span>
  </div>
  <div class="container">
  <% if user_signed_in? %>
    <%= form_with(model: [@item, @comment], method: :show, local: true) do |f| %>
      <div class="field">
        <%= f.label :text, "コメント" %><br />
        <%= f.text_field :text %>
      </div>
  <div class="actions">
    <%= f.submit "送信する", class: :form__btn  %>
  </div>
    <% end %>
  <% end %>
    <ul class="comments_lists">
      <li class="comments_list">
        <% if @comment %>
          <% @comments.reverse_each do |comment| %>
            <p>
              <div id='comments'>
                <strong><%= link_to comment.user.nick_name, "/users/#{comment.user_id}" %>：</strong>
                <%= comment.text %>
              </div>
            </p>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>