<div class="contents row">
    <div class="content_po">
      <p><%= @item.text %></p>
      <%= image_tag @item.image%>
      <div class="more">
        <ul class="more_list">
        <% if user_signed_in? && current_user.id == @item.user_id %>
          <li>
            <%= link_to '編集', edit_item_path(item.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', item_path(item.id), method: :delete %>
          </li>
        <% end %>
        </ul>
      </div>
      <span class="name">
        <%= @item.title %>
      </span>
    </div>
</div>