<div class="contents row">
  <div class="content_po">
    <span>
      <p></p>
    </span>
      <% @item.images.each do |image| %>
      <%= image_tag image %>
      <% end %>
        <div class="more">
          <ul class="more_list">
            <% if user_signed_in? && current_user.id == @item.user_id %>
              <li>
                <%= link_to '編集', edit_item_path(@item.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', item_path(@item.id), method: :delete %>
              </li>
            <% end %>
          </ul>
        </div>
    <div class="item-name">
    <span class="name">
      <a href="/users/<%= @item.user.id %>">
        <span>投稿者 </span><%= @item.user.nick_name %>
      </a>
    </span>
    </div>
  <div class="itemtext">
  <p><%= @item.text %></p>
  </div>
  <p>季節 ”<%= @item.season.name%>”</p>
  <p>場所 ”<%= @item.prefecture.name%>”</p>
  <% if current_user.already_liked?(@item) %>
    <%= button_to 'いいね！を取り消す', item_like_path(@item), method: :delete %>
  <% else %>
    <%= button_to 'いいね！', item_likes_path(@item) %>
  <% end %>
  <div class="like3">
  <h3>いいね！件数: <%= @item.likes.count %></h3>
  </div>
  <p>いいね！したユーザー</p>
  <div class="like4">
  <% @item.liked_users.each do |user| %>
    <li><%= user.nick_name %></li>
  </div>
  <% end %>
  <div class="container">
  <% if user_signed_in? %>
    <%= form_with(model: [@item, @comment], method: :show, local: true) do |f| %>
      <div class="field">
        <%= f.label :text, "コメント" %><br />
        <%= f.text_field :text %>
      </div>
  <div class="actions">
    <%= f.submit "送信する", class: :form__btn  %>
  </div>
    <% end %>
  <% end %>
    <ul class="comments_lists">
      <li class="comments_list">
        <% if @comment %>
          <% @comments.reverse_each do |comment| %>
            <p>
              <div id='comments'>
                <strong><%= link_to comment.user.nick_name, "/users/#{comment.user_id}" %>：</strong>
                <%= comment.text %>
              </div>
            </p>
          <% end %>
        <% end %>
      </li>
    </ul>
    <%= paginate @item %>
  </div>
</div>